<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hlccd.regular">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Regular">
        <activity android:name=".Blog.Blog_search"></activity>
        <activity android:name=".Blog.Blog_details" />
        <activity android:name=".Blog.Blog_circle" />
        <activity android:name=".util.ImageShow" />
        <activity android:name=".Blog.Blog_publish" />
        <activity android:name=".Blog.Blog" />
        <activity android:name=".Music.Music" />
        <activity android:name=".Friend.Friend_info" />
        <activity android:name=".Friend.Friend_search" />
        <activity android:name=".Friend.Friend_chat" />
        <activity android:name=".My.My_opinion" />
        <activity android:name=".My.My_message" />
        <activity android:name=".My.My_statement" />
        <activity android:name=".Project.Project_backlog_edit" />
        <activity android:name=".Project.Project_task_edit" />
        <activity android:name=".Project.Project_habit_edit" />
        <activity android:name=".User.User_register" />
        <activity android:name=".User.User_login" />
        <activity android:name=".Bill.Bill_budget_add" />
        <activity android:name=".Bill.Bill_record_edit" />
        <activity android:name=".Bill.Bill_record_add" />
        <activity android:name=".Cover">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homepage" />
    </application>

</manifest>